@font-face {
  font-family: Playfair;
  src: url(../assets/PlayfairDisplaySC-Regular.ttf); }
@font-face {
  font-family: Futura;
  src: url(../assets/FuturaLT_0.ttf); }
@font-face {
  font-family: Futura-Oblique;
  src: url(../assets/FuturaLT-Oblique_0.ttf); }
body {
  overflow-y: auto;
  margin: 0 0; }
  body h1 {
    font-family: "Pinyon Script";
    font-size: 4.5em; }
  body h2 {
    font-family: "Tangerine";
    font-weight: 700;
    font-size: 3em; }
  body h3 {
    font-family: "Tangerine";
    font-weight: 400;
    font-size: 2.5em; }
  body p {
    font-family: "Alegreya", "Open sans", Helvetica;
    line-height: 175%;
    color: black; }
  body ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  body a:hover {
    text-decoration: none;
    color: #AB7878; }
  body a:focus {
    text-decoration: none;
    color: #AB7878;
    background-color: #F9F9F9; }
  body a {
    color: #9a9a9a;
    padding: .5em; }

.activeHeader {
  background-color: #F9F9F9; }

.navLI {
  display: inline;
  padding: .1em;
  margin-top: 1em;
  font-family: PlayfairDisplaySC-Regular;
  font-style: normal;
  letter-spacing: .10em; }

.navLI:hover {
  border-color: #AB7878; }

.container {
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0; }
  .container .nav {
    font-family: "Alegreya", "Open sans", Helvetica;
    font-size: 1.75em;
    font-weight: 400;
    font-style: italic;
    background-color: #ffffff; }
  .container .iconStripUL {
    padding: 2em;
    text-align: center; }
    .container .iconStripUL .iconStripLI {
      display: inline;
      padding: 1em; }
    .container .iconStripUL .icons {
      color: #9a9a9a; }
    .container .iconStripUL .icons:hover {
      color: #AB7878; }

#BGContainer {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  background: url("../assets/images/introBG_4.jpg") no-repeat center center fixed;
  background-size: cover; }

.main-bottom-row {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  height: 8em;
  min-width: 100vw;
  margin: 0; }

#main-content-grid {
  margin-top: 5em;
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 980px; }

#heroMsg {
  padding-bottom: 3em; }

.heroMsgContent1 {
  font-family: Futura;
  font-size: 3em;
  font-color: black;
  text-align: center;
  margin: 0 auto; }

.heroMsgContent2 {
  font-family: Playfair;
  font-size: 2.5em;
  font-color: black;
  text-align: center;
  margin: 0 auto; }

.heroMsgContent3 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 2.5em;
  font-color: black;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: #CD9B1B; }

#border-top {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  height: 100%;
  margin-bottom: 2.5em;
  border-color: #CD9B1B;
  border-top: 1px solid #CD9B1B;
  border-left: 1px solid #CD9B1B;
  border-right: 1px solid #CD9B1B;
  border-bottom: 1px solid #CD9B1B; }

.grid-centered {
  margin: 0 auto; }

.grid-about-me {
  padding: 1em;
  height: 15em;
  background-color: #FFDFE9; }

.grid-about-me-picture {
  height: 15em;
  background: url("../assets/images/tiffany.jpg") no-repeat center;
  background-size: contain; }

/* Lets Make something beautiful section */
@media (max-width: 480px) {
  .heroMsgContent1, .heroMsgContent2, .heroMsgContent3 {
    font-size: 14px; } }
@media (min-width: 481px) and (max-width: 767px) {
  .heroMsgContent1, .heroMsgContent2, .heroMsgContent3 {
    font-size: 20px; } }
@media (min-width: 768px) and (max-width: 979px) {
  .heroMsgContent1, .heroMsgContent2, .heroMsgContent3 {
    font-size: 26px; } }
@media (min-width: 980px) {
  .heroMsgContent1, .heroMsgContent2, .heroMsgContent3 {
    font-size: 30px; } }
/* Nav headers */
@media (max-width: 480px) {
  .navLI, .navContainer {
    font-size: 12px;
    text-align: center; } }
@media (min-width: 481px) and (max-width: 767px) {
  .navLI, .navContainer {
    font-size: 16px;
    text-align: center; } }
@media (min-width: 768px) and (max-width: 979px) {
  .navLI, .navContainer {
    font-size: 16px;
    text-align: right; } }
@media (min-width: 980px) {
  .navLI, .navContainer {
    font-size: 18px;
    text-align: right; } }
/* Icon Strip */
@media (max-width: 480px) {
  .container .iconStripUL .icons {
    font-size: 16px; } }
@media (min-width: 481px) and (max-width: 767px) {
  .container .iconStripUL .icons {
    font-size: 20px; } }
@media (min-width: 768px) and (max-width: 979px) {
  .container .iconStripUL .icons {
    font-size: 22px; } }
@media (min-width: 980px) {
  .container .iconStripUL .icons {
    font-size: 26px; } }
/* General */
@media (max-width: 480px) {
  p {
    font-size: 10px;
    text-align: center; } }
@media (min-width: 481px) and (max-width: 767px) {
  p {
    font-size: 13px;
    text-align: center; } }
@media (min-width: 768px) and (max-width: 979px) {
  p {
    font-size: 16px;
    text-align: center; } }
@media (min-width: 980px) {
  p {
    font-size: 18px;
    text-align: center; } }
.description {
  opacity: 1; }

.description-container {
  margin-top: -62px;
  opacity: .5;
  position: absolute;
  bottom: 0;
  width: 90%;
  background-color: lightsteelblue;
  z-index: 20000; }

.ddlUL {
  position: absolute;
  display: none;
  cursor: default; }

.ddlLI {
  padding: .1em;
  font-family: PlayfairDisplaySC-Regular;
  font-style: normal;
  letter-spacing: .10em;
  color: #9a9a9a;
  text-align: center;
  background-color: #F9F9F9; }

.ddlLI:hover {
  color: #AB7878; }

@media (min-width: 0px) and (max-width: 480px) {
  .ddlUL {
    width: 107px;
    margin-left: 59px; } }
@media (min-width: 481px) and (max-width: 767px) {
  .ddlUL {
    width: 143px;
    margin-left: 75px; } }
@media (min-width: 770px) and (max-width: 979px) {
  .ddlUL {
    width: 143px;
    right: 15px; } }
@media (min-width: 980px) and (max-width: 1099px) {
  .ddlUL {
    width: 161px;
    right: 15px; } }
@media (min-width: 1100px) {
  .ddlUL {
    width: 161px;
    right: 96px; } }
.img-lg {
  height: 500px;
  padding: 1em; }

/*# sourceMappingURL=styles.css.map */
