//@import url("../node_modules/font-awesome/scss/font-awesome.scss");

$font-stack-content: "Roboto", "Open sans", Helvetica;///
$font-main: "Pinyon Script";
$font-subheading: "Tangerine";
//$primary-color: #FFF;

body {
	overflow-y:auto;
	margin: 0 0;
	h1 {
		font-family: $font-main;
		font-size:4.5em;
	}

	h2 {
		font-family: $font-subheading;
		font-weight: 700;
		font-size:3em;
	}

	h3 {
		font-family: $font-subheading;
		font-weight: 400;
		font-size:2.5em;
	}

	p {
		font-family: $font-stack-content;
		font-size: 1.2em;
		line-height:125%;
		color:black

	}
}

.container {
	position:relative;
	min-height:100vh;
	min-width:100%;
	background-color:grey;
	
	

	.gridRow {
		// height:100% !important;
		line-height:49vh;

		.gridElement {
			// height:100%;
			background-color:blue;
			border: 1px solid white;
		
		}	
	}
	

}



#bgContainer {
	position:relative;
	min-height:100vh;
	min-width:100%;
	background:url("../images/introBG.jpg") no-repeat center center fixed;
	background-size: cover;
}

// #container {
//   position:absolute;
//   margin-left:0;
//   margin-right:0;
//   bottom:10%;
//   //padding-top:28em;
//   //padding-bottom:28em;
//   background-color:rgba(255,255,255,1);
//   height:8em;
//   width:100%;

//   .mainHeader {
// 	font-family:$font-main;
// 	font-size:5em;
// 	margin-left:3%;
// 	z-index:1;
// 	letter-spacing:.1em;
//   }
//   .mainHeader-underline {
// 	height:1px;
// 	border: 1px solid black;
// 	margin-top:-30px;
// 	opacity:.4;
// 	z-index:-1;

//   }



//   .nav {
// 	margin-right:0;
//   }

//   .menu {
// 	font-family: sans-serif;
// 	margin-top: 1em;
// 	font-weight: 700;
// 	text-transform: uppercase;
// 	font-size: .85em;
// 	letter-spacing: 2px;
// 	line-height: 3em;

// 	.table {
// 	  width: 100%;
// 	  margin-bottom: 20px;
// 	}

//   }
// }
	



