//@import url("../node_modules/font-awesome/scss/font-awesome.scss");

@font-face {
    font-family: Playfair;
    src: url(../assets/PlayfairDisplaySC-Regular.ttf);
}

@font-face {
	font-family: Futura;
	src: url(../assets/FuturaLT_0.ttf);
}


$font-stack-content: "Alegreya","Open sans", Helvetica;///
$font-main: "Pinyon Script";
$font-subheading: "Tangerine";

$text-grey: #9a9a9a;
$hover: #AB7878;
$grid-orange: #F1B885;


body {
	overflow-y:auto;
	margin: 0 0;
	h1 {
		font-family: $font-main;
		font-size:4.5em;
	}

	h2 {
		font-family: $font-subheading;
		font-weight: 700;
		font-size:3em;
	}

	h3 {
		font-family: $font-subheading;
		font-weight: 400;
		font-size:2.5em;
	}

	p {
		font-family: $font-stack-content;
		font-size: 1.2em;
		line-height:125%;
		color:black

	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a:hover {
	  text-decoration:none;
	  color:$hover;
	}

	a { 
		color: $text-grey; 
	} 


}


.navLI {
		display: inline;
		padding:.5em;
		margin-top:1em;
		font-family: PlayfairDisplaySC-Regular;
		font-style: normal;
		letter-spacing: .10em;
		border-left: 2px solid $text-grey;
		// border-right: 1px solid $text-grey;

	}

.navLI:hover {
	// color:$hover;
	border-color:$hover;
}

.container {
	// position:relative;
	// min-height:100vh;
	min-width:100%;
	// background-color:#edefef;
	margin:0;
	padding:0;
	


	.nav {
		font-family: $font-stack-content;
		font-size:1.75em;
		font-weight:400;
		font-style: italic;
		background-color:#ffffff;
	}

	.iconStripUL {
		padding:2em;
		text-align:center;
		
		.iconStripLI {
			display:inline;
			padding:1em;
		}

		.icons {
			font-size:1.75em;
			color:$text-grey;
		}

		.icons:hover {
			color:$hover
		}
	}
}

#BGContainer {
	position:relative;
	min-height:100vh;
	min-width:100%;
	background:url("../assets/images/introBG_4.jpg") no-repeat center center fixed;
	background-size: cover;
}

.main-bottom-row {
	position:absolute;
	bottom:0;
	background-color:#ffffff;
	height:8em;
	min-width:100vw;
	margin:0;
	
}

$onepxsolid: 1px solid $grid-orange;
#main-content-grid {
	margin-top:5em;
	position:relative;
	height:80vh;
	// background-color:pink;
	width:60%;
	margin: 0 auto;
	// border-color: $grid-orange;
	// border-top: $onepxsolid;
	// border-left: $onepxsolid;
	// border-right: $onepxsolid;

}

#heroMsg {
	// background-color: #ffffff;
	height:15em;
}

.heroMsgContent1 {
	font-family:Futura;
	font-size: 3em;
	font-color:black;
	width:60%;
	text-align:center;
	margin: 0 auto;
}

.heroMsgContent2 {
	font-family:Playfair;
	font-size: 2.5em;
	font-color:black;
	width:70%;
	text-align:center;
	margin: 0 auto;
}


#border-top {
	margin: 0 auto;
	width:100%;
	height:100%;
	border-color: $grid-orange;
	border-top: $onepxsolid;
	border-left: $onepxsolid;
	border-right: $onepxsolid;
}

.grid-centered {
	margin: 0 auto;
}

.grid-about-me {
	margin-top:1em;
	padding:1em;
	height:10em;
	background-color: $grid-orange;
}

.grid-about-me-picture {
	margin-top:1em;
	height:5em;
	border: 1px solid red;
}





/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

	



